@tailwind base
@tailwind components
@tailwind utilities

:root
  --white: theme('colors.white')
  --grey: theme('colors.grey')
  --grey-light: theme('colors.greylight')
  --blue: theme('colors.blue')

body
  color: var(--grey)
  background: var(--white)
  overflow: hidden

.debug 
  border: 1px solid red

.container
  padding: 0 1rem